# Expo
.expo/
dist/
web-build/

# Native
android/
ios/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Temporary files
*.swp
*.swo
*~

# Environment variables
.env

/android
/ios